
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.swiper{
    border-radius: 20px;
}

section .card .image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 3px;
    background: blue;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid aqua;
}

.card{
    position: relative;
    background: white;
    border-radius: 20px;
}

.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    z-index:100;
}

.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: black;
}

.name-profession .name {
    font-family: 20px;
    font-weight: 600;
}

.name-profession .name-profession{
    font-size: 15px;
    font-weight: 500;
}

.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
} 

.card .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: blue;
}
