/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
    justify-content: flex-start;
}

.a:hover{
    text-decoration: none;
    color: violet;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.square{
    color: aliceblue;
    background-color: #0D28A6;
    padding: 80px 0;
    text-align: center;
    margin: 50px 100px;
    height: 350px;
    border-radius: 13px;}

.squarek{
        width: 100px;
        height: 34px;
        color: blue;
        border-radius: 13px;
    }


.atas{
     margin: 0 50px 35px 50px;
     font-weight: lighter;
}

.bawah{
    left: 478px;
    color: white;
    text-align: center;
    font-size: 14px; 
}

.card{
    border: 50%;
    border-color: blue;
}
